*{
    box-sizing: border-box;
}

*img{
    vertical-align: middle;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

form{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

label{
    display: flex;
    align-items: center;
    font-size: 36px;
    justify-content: space-between;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

  span{
      display: inline-block;
      width: 25px;
      height: 25px;
      border: 2px solid green;
      border-radius: 3px;
  }

input:focus~span{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input:checked~.form__volleybol{
    background-image: url(../images/volleyball-ball.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

input:disabled~.form__volleybol{
  background-image: url(../images/volleyball-ball.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.4;
}

input:checked~.form__basketball{
    background-image: url(../images/basketball-ball.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

input:disabled~.form__basketball{
  background-image: url(../images/basketball-ball.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.4;
}

input:checked~.form__hockey{
    background-image: url(../images/hockey-puck.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.4;
}

input:disabled~.form__hockey{
  background-image: url(../images/hockey-puck.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.4;
}